<div class="container">

  <form
    [formGroup]="fotoForm"
    class="row"
    (submit)="enviarFoto()" >

    <div class="col-md-6 mb-2">

      <div class="custom-file">
        <input
          (change)="aoMudarFoto($event)"
          formControlName="file"
          class="custom-file-input"
          type="file"
          accept="image/*">
        <label
          class="custom-file-label">Escolha a foto
        </label>
      </div>

      <div class="alert alert-danger mt-1"
           *ngIf="fotoForm.get('file').invalid &&
           (fotoForm.get('file').dirty || fotoForm.get('file').touched)">

        <ap-mensagem
          [isErro]="fotoForm.get('file').errors?.required"
          mensagem="Foto é obrigatório!">
        </ap-mensagem>

      </div>
    </div>


    <div class="col-md-6">
      <div class="form-group">
        <textarea
          formControlName="description"
          class="form-control form-control-sm"
          placeholder="Descrição da foto"
          rows="3">
        </textarea>
      </div>


      <div class="alert alert-danger mt-1"
           *ngIf="fotoForm.get('description').invalid &&
           (fotoForm.get('description').dirty || fotoForm.get('description').touched)">

        <ap-mensagem
          [isErro]="fotoForm.get('description').errors?.maxlength"
          mensagem="Tamanho máximo de 3000 caracteres.">
        </ap-mensagem>

      </div>

      <div class="form-check mb-2">
        <input
          formControlName="allowComments"
          class="form-check-input"
          type="checkbox">
        <label
          class="form-check-label">
          Permitir comentários
        </label>
      </div>

      <button
        [disabled]="fotoForm.invalid"
        type="submit"
        class="btn btn-primary btn-block">
        Enviar
      </button>

      <a class="btn btn-secondary btn-block">Cancelar</a>

    </div>


  </form>
</div>
