<div *ngIf="comentarios" class="comentario-lista">
  <ul class="list-unstyled">
    <li *ngFor="let comentario of comentarios">
      <a class="text-danger font-weight-bold mr-1"
         [routerLink]="['/user', comentario.userName]" >
        {{comentario.userName}}</a>:
      <em>
        {{comentario.date | date:'dd-mm-yyyy HH:mm'}}
      </em>
      <p class="quebra-texto">
        {{comentario.text}}
      </p>
    </li>
  </ul>
</div>

<div class="mt-4">
  <form [formGroup]="comentarioForm" >
    <div class="input-group">
      <textarea formControlName="comment" class="form-control quebra-texto"></textarea>
      <div class="input-group-append">
        <button
          (click)="adicionarComentario()"
          [disabled]="!comentarioForm.valid"
          class="btn btn-primary">
          Publicar
        </button>
      </div>
    </div>

    <ap-mensagem
      [isErro]="comentarioForm.get('comment').errors?.maxlength"
      mensagem="Tamanho máximo de 3000 caracteres.">
    </ap-mensagem>

  </form>



</div>
