<div class="bg-white border" *ngIf="foto">
  <div class="row m-1">
    <div class="col-lg-8">
      <ap-photo
        [local]="foto.url"
        [descricao]="foto.description">
      </ap-photo>
    </div>

    <div class="col-lg-4 mt-2 mt-lg-0">
      <small>
        <p class="text-left quebra-texto">
          {{foto.description}}
        </p>

        <div class="text-left mb-4">
          <i class="fa fa-comment-o fa-2x mr-2 ml-2"></i>{{foto.comments}}
          <i mostarQuandoProprietario [foto]="foto"  class="fa fa-trash-o fa-2x pull-right"></i>
        </div>

        <hr>
      </small>

      <ap-foto-comentario
        *ngIf="foto.allowComments;else comentarioBloqueado"
        [fotoId]="foto.id">
      </ap-foto-comentario>

      <ng-template #comentarioBloqueado>
        <p>Usuário desabilitou o comentário para está foto.</p>
      </ng-template>

    </div>

  </div>
</div>
