<h4 class="text-center m-4">Login</h4>

<form [formGroup]="loginForm" class="form">

    <div class="form-control">
      <input
        required
        formControlName="usuario"
        class="form-control"
        placeholder="Usuário"
        autofocus>

      <div
        class="alert alert-danger"
        *ngIf="loginForm.get('usuario').invalid &&
        (loginForm.get('usuario').dirty || loginForm.get('usuario').touched)">

        <small
          *ngIf="loginForm.get('usuario').errors.required"
          class="text-danger d-block">
          Nome de usuário é obrigatório!
        </small>
      </div>
    </div>

    <div class="form-control mt-1">

      <input
        required
        formControlName="senha"
        type="password"
        class="form-control"
        placeholder="Senha">

      <div
        class="alert alert-danger"
        *ngIf="loginForm.get('senha').invalid &&
        (loginForm.get('senha').dirty || loginForm.get('senha').touched)">

        <small
          *ngIf="loginForm.get('senha').errors.required"
          class="text-danger d-block">
          Senha é obrigatório!
        </small>

        <small
          *ngIf="loginForm.get('senha').errors.minlength"
          class="text-danger d-block">
          Obrigatório ao menos 4 caracteres!
        </small>

      </div>

    </div>

  <button
    [disabled]="!loginForm.valid"
    type="submit"
    class="btn btn-primary btn-block mt-2">
    Entrar
  </button>

</form>

<p class="mt-2 ml-2">Não é um usuário? <a href="#">cadastre-se agora</a></p>
