<h6 class="text-center m-4">Login</h6>

<form [formGroup]="loginForm" class="form m-1">

  <div class="form-group">
    <input
        #usuarioInput
        required
        formControlName="usuario"
        class="form-control"
        placeholder="Usuário"
        autofocus>

    <div class="alert alert-danger"
         *ngIf="loginForm.get('usuario').invalid &&
           (loginForm.get('usuario').dirty || loginForm.get('usuario').touched)">

      <ap-mensagem
        [isErro]="loginForm.get('usuario').errors.required"
        mensagem="Nome de usuário é obrigatório!">
      </ap-mensagem>

    </div>
  </div>

  <div class="form-group mt-1">

    <input
      required
      formControlName="senha"
      type="password"
      class="form-control"
      placeholder="Senha">

    <div
      class="alert alert-danger"
      *ngIf="loginForm.get('senha').invalid &&
        (loginForm.get('senha').dirty || loginForm.get('senha').touched)">

      <ap-mensagem
        [isErro]="loginForm.get('senha').errors.required"
        mensagem="Senha é obrigatório!">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="loginForm.get('senha').errors.minlength"
        mensagem="Obrigatório ao menos 4 caracteres!">
      </ap-mensagem>

    </div>

  </div>

  <div
    class="alert alert-danger mt-2"
    *ngIf="(loginForm.get('usuario').invalid &&
            loginForm.get('senha').invalid) &&
            isNaoAutorizado">

    <ap-mensagem
      [isErro]="true"
      mensagem="Erro ao fazer login!">
    </ap-mensagem>

      <ap-mensagem
        [isErro]="loginForm.get('senha').errors.minlength"
        mensagem="Obrigatório ao menos 4 caracteres!">
      </ap-mensagem>

  </div>

  <button
    (click)="entrar()"
    [disabled]="!loginForm.valid"
    type="submit"
    class="btn btn-primary btn-block mt-1">
    Entrar
  </button>

</form>

<p class="mt-2 ml-2">Não tem uma conta? <a [routerLink]="['inscrever']" >Cadastre-se</a></p>
