<h4 class="text-center m-4">Inscreva-se para entrar em um novo mundo!</h4>

<form [formGroup]="inscreverForm" class="form m-1" (submit)="cadastrar()">

  <div class="form-group mt-1">
    <input
      #emailInput
      id="email"
      required
      formControlName="email"
      class="form-control"
      placeholder="E-mail"
      autofocus>

    <div class="alert alert-danger mt-1"
         *ngIf="inscreverForm.get('email').invalid &&
           (inscreverForm.get('email').dirty || inscreverForm.get('email').touched)">

      <ap-mensagem
        [isErro]="inscreverForm.get('email').errors?.required"
        mensagem="E-mail é obrigatório!">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('email').errors?.email"
        mensagem="E-mail inválido!">
      </ap-mensagem>

    </div>

  </div>

  <div class="form-group mt-1">
    <input
      required
      formControlName="fullName"
      class="form-control"
      placeholder="Nome completo"
      autofocus>

    <div class="alert alert-danger mt-1"
         *ngIf="inscreverForm.get('fullName').invalid &&
           (inscreverForm.get('fullName').dirty || inscreverForm.get('fullName').touched)">

      <ap-mensagem
        [isErro]="inscreverForm.get('fullName').errors?.required"
        mensagem="Nome é obrigatório!">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('fullName').errors?.minlength"
        mensagem="Use no mínimo 2 caracteres">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('fullName').errors?.maxlength"
        mensagem="Use no máximo 20 caracteres">
      </ap-mensagem>

    </div>

  </div>

  <div class="form-group mt-1">
    <input
      required
      formControlName="userName"
      class="form-control"
      placeholder="Usuário"
      autofocus>

    <div class="alert alert-danger mt-1"
         *ngIf="inscreverForm.get('userName').invalid &&
           (inscreverForm.get('userName').dirty || inscreverForm.get('userName').touched)">

      <ap-mensagem
        [isErro]="inscreverForm.get('userName').errors?.required"
        mensagem="Nome de usuário é obrigatório!">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('userName').errors?.minusculo"
        mensagem="Nome deve ser userName">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('userName').errors?.minlength"
        mensagem="Use no mínimo 2 caracteres">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('userName').errors?.maxlength"
        mensagem="Use no máximo 10 caracteres">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('userName').errors?.usaurioutilizado"
        mensagem="Usuário já utilizado">
      </ap-mensagem>

    </div>


  </div>

  <div class="form-group mt-1">
    <input
      required
      type="password"
      formControlName="password"
      class="form-control"
      placeholder="Senha"
      autofocus>

    <div class="alert alert-danger mt-1"
         *ngIf="inscreverForm.get('password').invalid &&
           (inscreverForm.get('password').dirty || inscreverForm.get('password').touched)">

      <ap-mensagem
        [isErro]="inscreverForm.get('password').errors?.required"
        mensagem="Senha é obrigatório!">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('password').errors?.minlength"
        mensagem="Use no mínimo 4 caracteres">
      </ap-mensagem>

      <ap-mensagem
        [isErro]="inscreverForm.get('password').errors?.maxlength"
        mensagem="Use no máximo 40 caracteres">
      </ap-mensagem>

    </div>

  </div>

  <button
    [disabled]="!inscreverForm.valid || inscreverForm.pending"
    type="submit"
    class="btn btn-primary btn-block">
    Cadastrar
  </button>

</form>

<p class="m-1">Já é usuário? <a [routerLink]="['']">Iniciar Sessão</a></p>
